<!DOCTYPE html>
<html>
    <head>
        <title>CONTACT</title>
    </head>
    <style>
        body{
            background-color:aqua;
            color:white;
            text-align:center;
        }
    </style>
    <body>
        <h1>MY CONTACT PAGE</h1>
        <p>this is a contact page . we can do anything in this page <%= person %>..</p>
        <p><strong>age : <%= data.age %></strong><br>
        <b>job : <%= data.job %></b>
    </p>
    </body>
</html>